/*
Theme Name: Abalone Cream Center
Theme URI: http://underscores.me/
Author: DigitalBox Company
Author URI: http://www.digitalbox.co.th
Description: Abalone Cream Center wordpress theme fork from abalone theme.
Version: 1.0-
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: abalone
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 DigitalBox is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

$color-sky: #87c7c9;
$color-sky-dark: #26a0b5;
$color-white: #fff;
$color-grey: #cccccc;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;

$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;

/**
 *
 * Font face
 *
 */

 @font-face {
    font-family: 'thaisans_neue_sembdregular';
    src: url('fonts/thaisansneue-semibold-webfont.eot');
    src: url('fonts/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/thaisansneue-semibold-webfont.woff') format('woff'),
    	 url('fonts/thaisansneue-semibold-webfont.ttf') format('truetype'),
    	 url('fonts/thaisansneue-semibold-webfont.svg#thaisans_neue_sembdregular') format('svg');
   	font-weight: normal;
   	font-style: normal;
 }

 @font-face {
    font-family: 'thaisans_neueregular';
   	src: url('fonts/thaisansneue-regular-webfont.eot');
   	src: url('fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
   		 url('fonts/thaisansneue-regular-webfont.woff') format('woff'),
   		 url('fonts/thaisansneue-regular-webfont.ttf') format('truetype'),
   		 url('fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
   	font-weight: normal;
   	font-style: normal;
 }


/**
 *
 * Tag style and etc class.
 *
 */

 body {
    font-family: 'thaisans_neueregular' !important;
 }

 .headline {
    font-family: 'thaisans_neue_sembdregular' !important;
    color: $color-sky-dark;
 }

/**
 *
 * Override boostrap
 *
 */
 .container {
    max-width: 1000px;
 }



/**
 *
 * Override meta slider
 *
 */

 .flex-control-nav {
   text-align: right !important;
 }
 .flex-control-paging li a {
    width: 20px !important;
    height: 20px !important;
    background-color: $color-grey !important;
    color: $color-grey;
    font-size: 1px !important;
 }
 .flex-control-paging li a.flex-active {
    background-color: $color-sky-dark !important;
    color: $color-sky-dark;
 }

/**
 *
 *
 * Override contactform
 *
 */

 .contactform {

    & form {
      text-align: left; 
    }

    & label {
      font-size: 22px !important;
      font-weight: bold !important;
    }
 }

 #contactsubmit {
    background-color: $color-sky-dark;
    border: 0;
    color: $color-white;
    padding: 7px 30px;
    font-size: 26px;
 }

/**
 *
 * Header
 *
 */

 .header {
 	
 	background-color: $color-sky;
 	height: 108px;

 	&__toggle {
 		position: relative;
 		padding: 9px 10px;
 		margin: 62px 15px 8px 0; 
 		border: 2px solid $color-white;
 		border-radius: 4px;
 		background-color: $color-sky;

 		& .icon-bar {
 			display: block;
 			width: 22px;
 			height: 2px;
 			border-radius: 1;
 			background-color: $color-white;	
 		}

 		& .icon-bar+.icon-bar {
 			margin-top: 4px;
 		}
 	}

 	&__logo {
 		float: left;
 		position: absolute;
 		z-index: 99;
 	}

 	&__nav {

 		margin-top: 70px;
 		float: right;

 		& > ul {
 			list-style-type: none;
 			padding: 0;
 		}

 		& > ul > li { 			
 			float: left;
 			margin: 0 30px;
 		}

 		& > ul > li > a {
 			font-family: 'thaisans_neueregular';
 			font-size: 18px;
 			color: $color-white;
 		}

 	}
 }

 /**
 *
 * Body
 *
 */

 .body {

 	&__content {
 		text-align: center;
 	}
 }


 /**
 *
 * Footer
 *
 */

 .footer { 	

  margin-top: 30px;

 	&__callcenter {
 		font-family: 'thaisans_neueregular';
 		font-size: 20px;
 		color: $color-sky;
 		display: inline-block;
 		padding-top: 30px;
 	}

 	&__overtab {
 		height: 60px;
 	}

 	&__tabinfo {
 		background-color: $color-sky;
 		color: $color-white;
 		padding: 8px 0;
 		/* height: 80px; */

 		& span {
 			font-family: 'thaisans_neueregular';
 			font-size: 24px;
 			display: block;
 			padding: 5px 0;

      @media (max-width: $screen-xs-max) { font-size: 11px; }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }

 		}

 		& span + span  {
 			font-size: 18px;

      @media (max-width: $screen-xs-max) { font-size: 14px; }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }

 		}
 	}

 	&__logo {
 		float: right;
 		position: relative;
 		bottom: -11px; 

    @media (max-width: $screen-xs-max) {  }
    @media (min-width: $screen-sm-min) {  }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {  }
    @media (min-width: $screen-md-min) { }

	}
 }















